.container-1{
	width: 780px;
	height: 570px;
	margin: 0 auto;
}

html, body{
	height: 100%;
}


.wrapper{
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100%;
}

.header-center{
	text-align: center;
	width: 100%;
}

.form-center{
	margin: 0 auto;
	width: 100%;
	padding: 25px;
	box-sizing: border-box;
}

.form-input{
	width: 560px;
	height: 40px;
	border-radius: 10px;
	border-width: 2px;
	padding-left: 15px;
	margin-right: 20px;
	border-bottom: none;
	border-right: none;
	background-color: rgb(200, 200, 215);
	box-sizing: border-box;
}

.form-file{
	border: 1px red solid;
	padding-top: 8px;
	padding-left: 18px;
	height: 40px;
	width: 560px;
	box-sizing: border-box;
}

form label{
	width: 15%;
	text-align: left;
	display: inline-block;
	padding-top: 10px;
}

.in{
	height: 80px;
	margin-bottom: 0px;
	display: flex;
	align-content: center;
}


#control{
	margin-top: 15px;
	box-sizing: content-box;
	margin-right: 12%;
}

.form-button{
	height: 45px;
	min-width: 80px;
	color: white;
	padding: 12px;
	margin: 1px;
	border: none;
	border-radius: 10px;
	border-right: 3px #222 solid;
	border-bottom: 3px #222 solid;
	border-top: 3px #ddd solid;
	border-left: 3px #ddd solid;
}

.float-right{
	float: right;
}

.clear{
	clear: both;
}

.button-green{
	background-color: green;
}

.button-red{
	background-color: red;
}

.button-yellow{
	background-color: orange;
}

.button-blue{
	background-color: rgb(51, 51, 177);
}

#back{
	color: rgb(0, 0, 255);
	font-weight: bold;
}

.container-2{
	width: 90%;
	margin: 10px;
	margin-top: 20px;
}

.input-index{
	width: 50%;
	margin-bottom: 20px;
	background: white;
}

table{
	border: 2px black solid;
	width: 100%;
}

th{
	background: black;
	color: white;
	font-size: 25px;
	padding-left: 25px;
	padding-right: 25px;
}

td{
	text-align: center;
}

.table-image{
	height: 150px;
	width: auto;
}

#create-new{
	margin-top: 30px;
}

.index-button{
	text-decoration: none;
	color: white;
}

tr:nth-child(even){
	background-color: #ddd;
}

#exInfoRating{
	color: red;
	padding-top: 10px;
	font-weight: bold;
	font-size: 15px;
}

#exInfoType{
	font-size: 14px;
}