*{
	//border: 1px solid pink;
}

h1{
	text-align: center;	
}

form{
	margin: 0 auto;
	width: 800px;
}

input{
	width: 700px;
	height: 25px;
	background-color: gray;
	background-blend-mode: overlay;
	
}

 input[type="file"]{
	height: 25px;
	outline-color: red;


} 

label{
	width: 75px;
	text-align: left;
	display: inline-block;
}

div{
	width: 825px;
	margin: 0 auto;
}

form p{
	margin-top: 5px;
	margin-bottom: 0px;
}

#control{
	margin-right: 0px;
	float: right;
}

button{
	height: 45px;
	font-size: large;
	background-blend-mode: hard-light ;
	color: white;
}

.button-green{
	background-color: green;
}

.button-red{
	background-color: red;
	box-shadow: rgb(0, 0, 0);
}

.button-yellow{
	background-color: orange;
}

a{
	color: rgb(0, 0, 255);
	padding-left: 0px;
	padding-right: auto;
	float: right;
	text-align: right;
}