body{
	background-color: rgb(187, 191, 188);
}

.container{
	width: 70%;
	margin: 0 auto;
}

h1{
	text-align: center;
	width: 100%;
}

form{
	margin: 0 auto;
	width: 100%;
	padding: 25px;
	box-sizing: border-box;
}

input{
	width: 80%;
	height: 35px;
	border-radius: 10px;
	background-color:gray;
	border-width: 2px;
	padding-left: 15px;
}

input[type=file]{
	border: 1px gray solid;
	padding: 3px 3px;
	padding-left: 18px;
}

form label{
	width: 15%;
	text-align: left;
	display: inline-block;
}

form p{
	margin-top: 15px;
	margin-bottom: 0px;
}


#control{
	margin-top: 15px;
	box-sizing: content-box;
	margin-right: 2.5%;
}

.form-button{
	height: 45px;
	width: 60px;
	color: white;
	padding: 2px;
	margin: 1px;
	float: right;
}

.clear{
	clear: both;
}

.button-green{
	background-color: green;
}

.button-red{
	background-color: red;
}

.button-yellow{
	background-color: orange;
}

#back{
	color: rgb(0, 0, 255);
	float: right;
	font-weight: bold;
}